cortx:
  release:
    product: LR_R2
    setup: cortx
server_node:
  30512e5ae6df9f1ea02327bab45e499d:
    bmc:
      ip: 198.120.10.1
      secret: Admin123
      user: ADMIN
    cluster_id: cid01
    hostname: ssc-vm-2217.colo.seagate.com
    name: srvnode-1
    node_id: '1'
    rack_id: '1'
    site_id: '1'
    storage:
      enclosure_id: enclosure-1
    type: VM
storage_enclosure:
  enclosure-1:
    controller:
      password: Admin123
      primary:
        ip: 10.0.0.2
        port: '22'
      secondary:
        ip: 10.0.0.3
        port: '22'
      type: Gallium
      user: admin
  enclosure_1:
    name: enclosure-1
    type: RBOD
