aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
.dirstamp
install-sh
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.o
stylecheck.tmp
tags
test-driver
