[Unit]
Description=SSPL Low Level Process
Wants=rabbitmq-server.service
After=rabbitmq-server.service syslog.target
Requires=rabbitmq-server.service

# Disabling for EES-non-requirement
# wants=openhpid.service dcs-collector.service
# After=dcs-collector.service

[Service]
Type=notify
PermissionsStartOnly=true
ExecStartPre=/opt/seagate/sspl/sspl_init check
ExecStartPre=-/usr/bin/mkdir -p /var/run/sspl_ll
ExecStartPre=/usr/bin/chown sspl-ll:root /var/run/sspl_ll
ExecStart=/opt/seagate/sspl/low-level/framework/sspl_ll_d -c /etc/sspl_ll.conf
ExecStopPost=-/usr/bin/rm -Rf /var/run/sspl_ll
PIDFile=/var/run/sspl_ll/sspl_ll_d.pid
User=sspl-ll
Restart=on-failure
TimeoutStartSec=190

[Install]
WantedBy=multi-user.target
