name: Sync stable from main branch
on:
  push:
    branches:
      - main
jobs:
  sync-branches:
    runs-on: ubuntu-latest
    name: Syncing branches
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Create PR to sync stable branch
        uses: sudoStatus200/create-sync-pr@0.3.1
        with:
          pr_title: "Sync main and stable"             # Title of pull request
          pr_body: ":Sync: *An automated PR*"          # Full markdown support, requires pr_title to be set
          GITHUB_TOKEN: ${{secrets.STABLE_TOKEN}}
          SOURCE_BRANCH: "main"
          TARGET_BRANCH: "stable"
